.venv
wandb
preprocessing/final_features
preprocessing/individual_features
preprocessing/merged_features
preprocessing/semi_merged_features
preprocessing/gaze_features.csv
preprocessing/full_features
preprocessing/stats_features
preprocessing/rf_features
training/multiclass_models/gru.py
training/__pycache__
training/minirocket_classifiers/wandb
training/minirocket_classifiers/__pycache__
training_outputs
best_model.keras    
training/__pycache__
training/binary_models/__pycache__
training/binary_models/training_outputs
training/binary_models/wandb
training/multiclass_models/__pycache__
training/multiclass_models/training_outputs
training/multiclass_models/wandb
training/feature_extraction
preprocessing/text_embeddings.csv
preprocessing/text_embeddings_pca.csv
preprocessing/clip_text_embeddings.csv
preprocessing/clip_text_embeddings_pca.csv
get-pip.py
wandb/
**/wandb/
**/**/wandb/
**/*.sub
*.csv
training/badnet/__pycache__
training/badnet/wandb
training/badnet/output
training/badnet/checkpoints
training/badnet/badnet.sub
training/linear_classifiers/__pycache__
training/linear_classifiers/wandb
training/linear_classifiers/training_outputs
training/linear_classifiers/svm.sub
training/linear_classifiers/sgd.sub
training/linear_classifiers/rf.sub
training/linear_classifiers/mlp.sub
training/linear_classifiers/knn.sub
training/binary_models/wandb/*.log
training/binary_models/wandb/latest-run
*.txt
!/data/
!/data/README.md
!/data/*/.gitkeep